DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=Europe/Bucharest
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
FINE_MULTIPLIER=2
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_ALWAYS_EAGER=False
